html{
    background-color: rgb(68, 184, 226);
}
body{
    background-color: white;
    text-align: center;
    margin: 2%;
    border-radius: 2%;
}
.classone{
    padding: 2%;

}
#tableone{
    margin-left:auto;
    margin-right:auto;
    border: 1px solid rgb(203, 212, 212);
    border-radius: 5px;
}
th, tr,td{
    border: 1px solid black;
}