.container{
    margin: auto;
   
}
#one{
    background-color: red;
   
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
}
#two{
   
 
    position: absolute; 
   
    width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid rgb(5, 179, 28);
	border-bottom: 50px solid transparent;
    
    display: inline-block;
}
#three{
 
    border: 2px solid blue;
   
    height: 100px;
   

    width: 100px;
   
    position: relative;
 
}
#four{
   
 
    position: absolute; 
   
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-top: 20px solid rgb(5, 179, 28);
	border-right: 10px solid transparent;
    
    display: inline-block;
}
#five{
   
 
    position: absolute; 
   left: 5.8rem;
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-top: 20px solid rgb(5, 179, 28);
	border-right: 10px solid transparent;
    
    display: inline-block;
}