.parrent{
  margin: 8px;
  padding: 8px;

}

.child2{
  background-color: blue;
  padding: 32px;
  position: absolute;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  
}
.child1{

    background-color: green;
    padding: 22.5px;
    position: absolute; 
    left: 66px;
    top: 25px;
    
  transform: rotate(45deg);
}


.child3{
 
border: thin solid blue;
   
    position: relative;
    top: 128px;
   width:64px;
   height: 64px;

}
 .child4{
    width: 0;
  height: 0;
  position: relative;
  top: 128px;
  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid green
} 
.child5{
    width: 0;
    height: 0;
    position: relative;
    top: 116px;
   left:54px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid green
}
