.parrent{
    height: 300px;
    display: flex;
    margin: 4rem;
    background-color: rgb(9, 177, 9);
   
}
.child{
    background-color: rgb(205, 247, 20);
}

.flex-direction-row{
    flex-direction: row;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-flexstart{
   justify-content: flex-start;
}
.justify-content-flexend{
    justify-content: flex-end;
 }
 .justify-content-space-around{
    justify-content: space-around;
 }
 .justify-content-space-evenly{
    justify-content: space-evenly;
 }
 .justify-content-space-between{
    justify-content: space-between;
 }
 .justify-content-stretch{
    justify-content: stretch;
 }
 .justify-content-unset{
    justify-content: unset;
 }
 .justify-content-center{
    justify-content: center;
 }
 .align-items-flexstart{
    align-items: flex-start;
 }
 .align-items-flexend{
    align-items: flex-end;
  }
  .align-items-space-around{
    align-items: space-around;
  }
  .align-items-space-evenly{
    align-items: space-evenly;
  }
  .align-items-space-between{
    align-items: space-between;
  }
  .align-items-stretch{
    align-items: stretch;
  }
  .align-items-unset{
    align-items: unset;
  }
  .align-items-center{
    align-items: center;
  }