.parent1{
    background-color: violet;
    display: flex;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;

margin: 1rem;

}
.parent2{
    background-color: rgb(69, 216, 253);
    
display: flex;
margin: 1rem;

}
.child{
    
    padding: 1rem;
    
     /* flex-grow: 1;  */
    margin: 0.5rem;  
    
}

.p1-child1{

background-color: chartreuse;
flex-grow: 1;
}
.p1-child2{
background-color: red;    
flex-grow: 1;
}
.p1-child3{
    background-color: blue;
    flex-grow: 1;
}
.p1-child4{
    background-color: deeppink;
    flex-grow: 1;
}
.p2-child1{

    background-color: chartreuse;
    /* flex-grow: 1; */
    flex-basis: 6rem;
    flex-grow: 1;
    flex-shrink: 1;
    }
    .p2-child2{
    background-color: red;    
    /* flex-grow: 2; */
    flex-basis: 6rem;
    flex-grow: 1;
    flex-shrink: 1;
    }
    .p2-child3{
        background-color: blue;
        /* flex-grow: 2; */
        flex-basis: 6rem;
        flex-grow: 1;
        flex-shrink: 1;
      
    }
    .p2-child4{
        background-color: deeppink;
        /* flex-grow: 2; */
        flex-basis: 6rem;
        flex-grow: 1;
        flex-shrink: 1;
       
    }

.p3-child1{

    background-color: chartreuse;
    /* flex-grow: 1; */
   
    }
    .p3-child2{
    background-color: red;    
    /* flex-grow: 2; */
  
    }
    .p3-child3{
        background-color: blue;
        /* flex-grow: 2; */
        flex-basis: 6rem;
        flex-grow: 1;
        flex-shrink: 1;
      
    }
    .p3-child4{
        background-color: deeppink;
        /* flex-grow: 2; */
        flex-basis: 6rem;
        flex-grow: 1;
        flex-shrink: 1;
       
    }

