div{
    height: 50%;
    width: 50%;
   margin: auto;
    position: relative;
}
img::before{
    position: absolute;
    content: "This is Profile Image";
    background-color: rgb(163, 25, 255);
    display: block;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    text-align: center;
   width: 100%;
   padding: 4px 2px;
   height:100%;
    
}
.elements{
    margin: auto;
}
p::before{
    content: "<<";
    color: blue;
}
p::after{
    content: ">>";
    color: red;
}
