.button{
    
    background-color: #6200ee;
    color: white;
    border-radius: 4px;
    padding: 8px 12px;
   border: 0;
   font-weight: bold;

}
.button:active{
    background-color: #31056e;
}
.button:hover{
    background-color: #ad7af5;
    cursor: pointer;
}